---
# GPS initialization role

- name: Configure GPSD
  ansible.builtin.shell: |
    uci set gpsd.core.enabled='1'
    uci set gpsd.core.device="{{ gps_tty_device }}"
    uci set gpsd.core.port='2947'
    uci set gpsd.core.listen_globally='0'
    uci commit gpsd
  tags:
    - gps

- name: Remove console=serial0 from boot cmdline
  ansible.builtin.replace:
    path: /boot/cmdline.txt
    regexp: 'console=serial0 '
    replace: ''
  tags:
    - gps

- name: Deploy gps-init script to device
  ansible.builtin.template:
    src: gps-init.j2
    dest: /etc/init.d/gps-init
    mode: '0755'
    owner: root
    group: root
  tags:
    - gps

- name: Check if GPS init script is already enabled
  ansible.builtin.stat:
    path: /etc/rc.d/S15gps-init
  register: gps_init_enabled
  tags:
    - gps

- name: Enable GPS init script to run at boot
  ansible.builtin.command:
    cmd: /etc/init.d/gps-init enable
  when: not gps_init_enabled.stat.exists
  register: gps_enable_result
  changed_when: gps_enable_result.rc == 0
  failed_when: gps_enable_result.rc != 0
  tags:
    - gps

- name: Start GPS init script to enable GPS pins
  ansible.builtin.command:
    cmd: /etc/init.d/gps-init start
  register: gps_start_result
  changed_when: false
  failed_when: false
  tags:
    - gps

- name: Check GPS init script status
  ansible.builtin.command:
    cmd: /etc/init.d/gps-init status
  register: gps_status
  changed_when: false
  failed_when: false
  tags:
    - gps

- name: Display GPS status
  ansible.builtin.debug:
    msg: "{{ gps_status.stdout_lines }}"
  tags:
    - gps

- name: Deploy alfred-gpsd init script to device
  ansible.builtin.template:
    src: alfred-gpsd-init.j2
    dest: /etc/init.d/alfred-gpsd
    mode: '0755'
    owner: root
    group: root
  tags:
    - gps
    - gps-alfred-gpsd

- name: Check if alfred-gpsd init script is already enabled
  ansible.builtin.stat:
    path: /etc/rc.d/S95alfred-gpsd
  register: alfred_gpsd_enabled
  tags:
    - gps
    - gps-alfred-gpsd

- name: Enable alfred-gpsd init script to run at boot
  ansible.builtin.command:
    cmd: /etc/init.d/alfred-gpsd enable
  when: not alfred_gpsd_enabled.stat.exists
  register: alfred_gpsd_enable_result
  changed_when: alfred_gpsd_enable_result.rc == 0
  failed_when: alfred_gpsd_enable_result.rc != 0
  tags:
    - gps
    - gps-alfred-gpsd

- name: Start alfred-gpsd service
  ansible.builtin.command:
    cmd: /etc/init.d/alfred-gpsd start
  register: alfred_gpsd_start_result
  changed_when: alfred_gpsd_start_result.rc == 0
  failed_when: false
  tags:
    - gps
    - gps-alfred-gpsd

- name: Check alfred-gpsd status
  ansible.builtin.command:
    cmd: /etc/init.d/alfred-gpsd status
  register: alfred_gpsd_status
  changed_when: false
  failed_when: false
  tags:
    - gps
    - gps-alfred-gpsd

- name: Display alfred-gpsd status
  ansible.builtin.debug:
    msg: "{{ alfred_gpsd_status.stdout_lines }}"
  tags:
    - gps
    - gps-alfred-gpsd

